@font-face {
    font-family: "BEBAS";
    src: url(../fonts/BEBAS.ttf);
}

.header {
    height: 155px;
    width: 100%;
    background-color: white;
    opacity: 0.9;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.header-container {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url(../assets/headerimage.jpg);
    background-size: cover;
    background-position: center;
    position: absolute;
}

.logo {
    height: 155px;
    width: 115px;
    background: url(../assets/logo.png);
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 1%;
    left: 0;
    right: 0;
    margin: auto;
}

.items-container {
    width: 100%;
    height: 145px;
    position: absolute;
    top: 1%;
    left: 0%;
}

.header-item {
    position: absolute;
    top: 31%;
    font-size: 15px;
    font-family: "BEBAS";
    font-weight: bold;
    padding: 6px;
}

.header-item-active {
    border-radius: 6px;
    border-color: black;
    border: 1px solid;
}

.left-1 {
    left: 320px;
}

.left-2 {
    left: 402px;
}

.left-3 {
    left: 572px;
}

.right-1 {
    right: 360px;
}

.right-2 {
    right: 468px;
}

.right-3 {
    right: 556px;
}

.search-bar {
    width: 1000px;
    height: 140px;
    bottom: 60px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    left: 0%;
    right: 0%;
    margin: auto;
}