@font-face {
    font-family: "BEBAS";
    src: url(../fonts/BEBAS.ttf);
}

@font-face {
    font-family: "LatoLight";
    src: url(../fonts/Lato-Light.ttf);
}

.header {
    height: 250px;
    width: 100%;
    background-color: white;
    opacity: 0.9;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    position: absolute;
}

.header-container {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url(../assets/headerimage.jpg);
    background-size: cover;
    background-position: center;
    position: absolute;
}

.logo {
    height: 155px;
    width: 115px;
    background: url(../assets/logo.png);
    background-size: cover;
    top: 1%;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
}

.items-container {
    width: 100%;
    height: 145px;
    position: absolute;
    top: 1%;
}

.header-item-left {
    top: 140px;
    font-size: 15px;
    font-family: "BEBAS";
    font-weight: bold;
    padding: 6px;
    position: absolute;
}

.header-item-right {
    top: 188px;
    font-size: 15px;
    font-family: "BEBAS";
    font-weight: bold;
    padding: 6px;
    position: absolute;
}

.header-item-active {
    border-radius: 6px;
    border-color: black;
    border: 1px solid;
}

.left-1 {
    right: 160px;
}

.left-2 {
    left: -5px;
    width: 114px;
}

.left-3 {
    left: 150px;
    width: 60px;
}

.right-1 {
    right: 140px;
    width: 75px;
}

.right-2 {
    left: 30px;
    width: 38px;
}

.right-3 {
    left: 135px;
    width: 90px;
}

.search-bar {
    width: 90%;
    height: auto;
    bottom: 60px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    left: 0%;
    right: 0%;
    margin: auto;
    padding: 20px;
    box-sizing: border-box;
}

.dropdown-rent {
    padding-left: 6px;
    width: 35%;
    height: 29px;
    bottom: 50px;
    border-color: white;
    color: #444;
    box-sizing: border-box;
}

.dropdown-option {
    padding: 2px;
}

.dropdown-residential {
    padding-left: 6px;
    width: 60%;
    height: 29px;
    bottom: 50px;
    border-color: white;
    color: #444;
    box-sizing: border-box;
    float: right;
}

.input-suburb {
    padding-left: 6px;
    width: 100%;
    height: 29px;
    box-sizing: border-box;
}

.search-pad {
    padding-right: 3%;
    display: inline;
}

.search-pad-top-1 {
    padding-top: 10px;
}

.search-pad-top-2 {
    width: 100%;
    height: 10px;
    display: block;
}

.search-pad-top {
    padding-top: 10px;
}

.hashtag {
    display: inline;
    font-family: "BEBAS";
    padding-right: 4px;
}

.web-ref {
    padding: 7px 10px 7px 10px;
    box-sizing: border-box;
    border-color: white;
    color: white;
    border: 1px solid;
    font-family: "Lato", Helvetica, sans-serif;
    font-size: 15px;
    float: left;
    width: 100%;
    text-align: center;
}

.search {
    padding: 8px 8px 6px 10px;
    box-sizing: border-box;
    border-color: white;
    color: white;
    border: 3px solid;
    font-family: "Lato", Helvetica, sans-serif;
    font-size: 15px;
    float: right;
    width: 35%;
    text-align: center;
    position: relative;
}

.search-icon {
    width: 16px;
    height: 16px;
    background: url(../assets/search.svg);
    background-size: cover;
    float: left;
    text-align: center;
}

.more-search {
    padding: 7px 10px 7px 10px;
    box-sizing: border-box;
    border-color: white;
    color: white;
    border: 1px solid;
    font-family: "Lato", Helvetica, sans-serif;
    font-size: 15px;
    float: left;
    width: 60%;
    text-align: center;
    position: relative;
}

.prop-text {
    padding: 10px 10px 8px 10px;
    box-sizing: border-box;
    color: white;
    font-family: "Lato", Helvetica, sans-serif;
    font-size: 15px;
    float: left;
}

.prop-container {
    width: 80%;
    left: 0%;
    right: 0%;
    margin: auto;
    bottom: -260px;
    position: absolute;
    height: 230px;
}

.prop-padding {
    padding: 2px;
    float: right;
}

.prop-header {
    left: 0%;
    top: 0%;
    font-family: "Lato", Helvetica, sans-serif;
    font-size: 12px;
    position: relative;
    padding-bottom: 3px;
}

.prop-title {
    left: 0%;
    font-family: "BEBAS";
    line-height: 0px;
    font-size: 28px;
    padding-bottom: 10px;
    display: block;
}

.prop-icons {
    float: right;
    width: 48px;
    height: 40px;
    padding: 5px;
    box-sizing: border-box;
    border-color: #999999;
    color: #999999;
    border: 1px solid;
}

i {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.down {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.search-pad-1 {
    padding: 6px;
    float: right;
    width: 100%;
}

.more {
    width: 100%;
    text-align: center;
    bottom: 0%;
    right: 0%;
    font-size: 15px;
    font-family: "BEBAS";
    padding: 6px;
    box-sizing: border-box;
    position: relative;
}

.more-1 {
    width: 100%;
    text-align: center;
    bottom: 0%;
    right: 0%;
    font-size: 15px;
    font-family: "BEBAS";
    padding: 6px;
    box-sizing: border-box;
    position: absolute;
}

.featured-prop {
    width: 80%;
    left: 0%;
    right: 0%;
    margin: auto;
    bottom: -780px;
    position: absolute;
    height: 500px;
}

.feat-padding {
    padding: 10px;
    display: block;
}

.feat-title {
    left: 0%;
    font-family: "BEBAS";
    line-height: 0px;
    padding-bottom: 20px;
    display: block;
}

.feat-block-left {
    height: 367px;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    border-color: #999999;
    color: #999999;
    border: 1px solid;
}

.feat-block-right {
    height: 367px;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    border-color: #999999;
    color: #999999;
    border: 1px solid;
    display: block;
}

.feat-sub {
    font-family: "LatoLight";
    font-size: 18px;
    color: black;
}

.featured {
    width: auto;
    height: 30px;
    background-color: black;
    top: 0;
    position: absolute;
    padding: 5px 16px;
    box-sizing: border-box;
    color: white;
    font-family: "LatoLight";
    font-size: 15px;
}

.featured-footer {
    width: 100%;
    height: 30px;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 5px 16px;
    box-sizing: border-box;
    color: white;
    font-family: "LatoLight";
    font-size: 15px;
    position: absolute;
}

.feat-img-1 {
    width: 100%;
    height: 260px;
    background: url(../assets/property1.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

.feat-img-2 {
    width: 100%;
    height: 260px;
    background: url(../assets/property2.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

.call-container {
    width: 90%;
    left: 0%;
    right: 0%;
    margin: auto;
    bottom: -1510px;
    position: absolute;
    height: 360px;
}

.banner {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url(../assets/banner.svg);
    background-size: cover;
    background-position: center;
    position: relative;
}

.call {
    width: 90%;
    height: 26%;
    top: 20%;
    left: 0;
    right: 0;
    margin: auto;
    background: url(../assets/call.svg);
    background-size: cover;
    background-position: center;
    position: absolute;
}

.call-text {
    width: 95%;
    height: 20%;
    bottom: 12.5%;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    font-family: "Lato", Helvetica, sans-serif;
    font-size: 18px;
    position: absolute;
}

.footer {
    width: 100%;
    height: 360px;
    left: 0%;
    bottom: 0%;
    margin: auto;
    bottom: -1920px;
    position: absolute;
    background-color: #c7c7c7;
    padding: 60px 18.75% 40px 18.75%;
    box-sizing: border-box;
}

.footer-text {
    font-family: "Lato", Helvetica, sans-serif;
    font-size: 12px;
    color: white;
}

.clearfix-top {
    padding-top: 30px;
    border-bottom: 1px solid white;
}

.clearfix-bottom {
    padding-bottom: 30px;
}

.footer-icon {
    float: left;
    padding-left: 4px
}

.clearfix-bottom-1 {
    padding-bottom: 15px;
}

.copyright {
    float: left;
    padding-left: 5px;
    padding-top: 45px;
    position: absolute;
    font-family: "Lato", Helvetica, sans-serif;
    font-size: 12px;
    color: white;
}